body {
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}
input {
  display: block;
  padding: 10px;
  width: 98%;
  border: 2px solid;
  border-color: blueviolet;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
